<template>
  <div
    class="relative group"
    :class="[
      disabled ? 'cursor-default' : 'cursor-pointer'
    ]"
  >
    <base-card
      class="bg-gpc-primary-500 text-white"
      :class="{
        'bg-gpc-grey-300 text-gpc-grey-100': disabled
      }"
    >
      <slot />
    </base-card>

    <base-card
      v-if="!disabled"
      class="absolute inset-0 opacity-0 transition-opacity duration-200 bg-gpc-green-200 text-white group-hover:opacity-100"
      @click="onClick"
    >
      <base-icon inherit>
        add
      </base-icon>
    </base-card>
  </div>
</template>

<script>
import BaseCard from "frontend/src/components/base/BaseCard";
import BaseIcon from "frontend/src/components/base/BaseIcon";

export default {
  name: "AddableCard",
  components: {
    BaseCard,
    BaseIcon
  },
  props: {
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onClick() {
      this.$emit('click');
    }
  }
}
</script>
