<template>
  <div>
    <base-card
      v-if="!$slots.default"
      class="border-2 border-solid border-gpc-grey-400"
    />

    <slot />
  </div>
</template>

<script>
import BaseCard from "frontend/src/components/base/BaseCard";

export default {
  name: "CardFrame",
  components: {
    BaseCard
  }
}
</script>
