<template>
  <div class="space-y-4">
    <base-expandable-block expanded>
      <template #header>
        <div class="flex-1">
          {{ $t('CardsDeckSetup.gameDeckHeader') }}
        </div>
      </template>

      <cards-list class="empty:bg-gpc-grey-200">
        <removable-card
          v-for="{alias: cardAlias, object: cardObject} in selectedCards"
          :key="cardAlias"
          class="m-1"
          @click="onRemoveFromSelection(cardAlias)"
        >
          <component
            :is="cardObject.tag"
            v-bind="cardObject.modifiers"
          >
            {{ cardObject.text }}
          </component>
        </removable-card>
      </cards-list>
    </base-expandable-block>

    <base-expandable-block>
      <template #header>
        <div class="flex-1">
          {{ $t('CardsDeckSetup.availableCardsHeader') }}
        </div>
      </template>

      <cards-list class="empty:bg-gpc-grey-200">
        <addable-card
          v-for="{alias: cardAlias, object: cardObject, disabled} in availableCards"
          :key="cardAlias"
          class="m-1"
          :disabled="disabled"
          @click="onAddToSelection(cardAlias)"
        >
          <component
            :is="cardObject.tag"
            v-bind="cardObject.modifiers"
          >
            {{ cardObject.text }}
          </component>
        </addable-card>
      </cards-list>
    </base-expandable-block>
  </div>
</template>

<script>
import BaseIcon from "frontend/src/components/base/BaseIcon";
import RemovableCard from "frontend/src/components/RemovableCard";
import CardsList from "frontend/src/components/CardsList";
import AddableCard from "frontend/src/components/AddableCard";
import {
  runGetter
} from "frontend/src/data/data-provider";
import BaseExpandableBlock from "frontend/src/components/base/BaseExpandableBlock";
import TacoCard from "frontend/src/components/TacoCard";
import CoffeeCard from "frontend/src/components/CoffeeCard";
import BaseCard from "frontend/src/components/base/BaseCard";

export default {
  name: "CardsDeckSetup",
  components: {
    BaseCard,
    BaseExpandableBlock,
    CardsList,
    RemovableCard,
    AddableCard,
    BaseIcon,
    TacoCard,
    CoffeeCard
  },
  data() {
    return {
      selectedCards: [],
      availableCards: [],
      cardsMapSource: []
    };
  },
  async mounted() {
    const [
      cardsMapSource,
      availableCardsSource,
      defaultDeckSource
    ] = await Promise.all([
        runGetter('cardsMap'),
        runGetter('availableCards'),
        runGetter('defaultDeck')
    ]);

    this.cardsMapSource = cardsMapSource;

    this.selectedCards = defaultDeckSource.map((cardAlias) => ({
      alias: cardAlias,
      object: cardsMapSource[cardAlias]
    })).sort(sortByPriority);

    this.availableCards = availableCardsSource.map((cardAlias) => ({
      alias: cardAlias,
      object: cardsMapSource[cardAlias],
      disabled: defaultDeckSource.includes(cardAlias)
    })).sort(sortByPriority);

    this.notifyParent();
  },
  methods: {
    onRemoveFromSelection(cardAlias) {
      this.selectedCards = this.selectedCards.filter(({alias}) => alias !== cardAlias);

      this.availableCards.find(({alias}) => alias === cardAlias).disabled = false;

      this.notifyParent();
    },
    onAddToSelection(cardAlias) {
      this.selectedCards = [
          ...this.selectedCards,
        {
          alias: cardAlias,
          object: this.cardsMapSource[cardAlias]
        }
      ].sort(sortByPriority);

      this.availableCards.find(({alias}) => alias === cardAlias).disabled = true;

      this.notifyParent();
    },
    notifyParent() {
      this.$emit('change', this.selectedCards.map(({alias}) => alias));
    }
  }
}

function sortByPriority({object: {priority: priorityA}}, {object: {priority: priorityB}}) {
  return priorityA - priorityB;
}
</script>
