<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 80 132"
    width="80"
    height="132"
  >
    <rect
      x="0"
      y="0"
      width="100%"
      height="100%"
      fill="url(#card-back)"
      rx="8"
    />
  </svg>
</template>

<script>
export default {
  name: "CardBack"
}
</script>
