<template>
  <div class="p-2 text-xl flex flex-row justify-center items-center space-x-2">
    <label class="truncate">{{ identifier }}</label>

    <base-icon-button-v2 @click="onContentCopyClick">
      content_copy
    </base-icon-button-v2>

    <base-icon-button-v2 @click="onLinkCopyClick">
      link
    </base-icon-button-v2>
  </div>
</template>

<script>
import baseIconButtonV2 from "frontend/src/components/base/BaseIconButtonV2";

export default {
  name: "GameIdentifierBlock",
  components: {
    baseIconButtonV2
  },
  props: {
    identifier: {
      type: String,
      required: true
    }
  },
  methods: {
    onContentCopyClick() {
      navigator.clipboard.writeText(this.identifier)/*.then((...data) => {
        console.log('clipboard successfully set', ...data);
      }, (...data) => {
        console.log('clipboard write failed', ...data);
      })*/;
    },
    onLinkCopyClick() {
      navigator.clipboard.writeText(location.href)/*.then((...data) => {
        console.log('clipboard successfully set', ...data);
      }, (...data) => {
        console.log('clipboard write failed', ...data);
      })*/;
    }
  }
}
</script>
