<template>
  <div class="w-96 p-2 pb-0 flex-1 flex flex-col">
    <base-text-button
      primary
      @click="createRound"
    >
      {{ $t('GameRoundsPanel.createRoundButtonLabel') }}
    </base-text-button>

    <div class="mt-2 h-0 border-t border-solid border-t-gpc-grey-300"></div>

    <div class="overflow-x-hidden overflow-y-auto pr-2 -mr-2 pb-2 pt-2 flex-1 flex flex-col space-y-2">
      <game-round-block
        v-for="round in rounds"
        :key="round.roundId"
        :round-data="round"
      />
    </div>
  </div>
</template>

<script>
import BaseTextButton from "frontend/src/components/base/BaseTextButton";
import GameRoundBlock from "frontend/src/components/GameRoundBlock";
import {dispatch} from "frontend/src/socket";
import STORE_CONSTANTS from "shared/store-constants";

export default {
  name: "GameRoundsPanel",
  components: {
    GameRoundBlock,
    BaseTextButton
  },
  computed: {
    rounds() {
      return this.$store.state[STORE_CONSTANTS.STORE_GAME_MODULE_NAME].rounds;
    }
  },
  methods: {
    createRound() {
      dispatch('createRound');
    }
  }
}
</script>
