<template>
  <div
    class="cursor-pointer h-12 p-2 flex flex-row justify-start items-center hover:bg-gpc-primary-50 space-x-2"
    :class="computedClass"
  >
    <div
      class="flex-1 truncate"
      @click="onClick"
    >
      {{ source.gameId }}
    </div>
  </div>
</template>

<script>
import STORE_CONSTANTS from "shared/store-constants";

export default {
  name: "GameEntry",
  props: {
    source: {
      type: Object,
      required: true
    }
  },
  computed: {
    computedClass() {
      return {
        'bg-gpc-grey-300': this.isSelected
      };
    },
    isSelected() {
      return this.$store.state[STORE_CONSTANTS.STORE_ADMINISTRATION_MODULE_NAME].selectedGameId === this.source.gameId;
    }
  },
  methods: {
    onClick () {
      this.$store.dispatch(`${STORE_CONSTANTS.STORE_ADMINISTRATION_MODULE_NAME}/setSelectedGame`, this.source.gameId);
    }
  }
}
</script>
