<template>
  <base-expandable-block :expanded.sync="expanded">
    <template #header>
      <div class="flex-1 flex flex-row justify-start items-center space-x-2 min-w-0">
        <base-icon
          v-if="!roundData.wasStarted && !roundData.wasEnded"
          class="text-gpc-grey-500"
        >
          pending
        </base-icon>

        <base-icon
          v-if="roundData.wasStarted && !roundData.wasEnded"
          class="text-gpc-accent-300"
        >
          timelapse
        </base-icon>

        <base-icon
          v-if="roundData.wasStarted && roundData.wasEnded"
          class="text-gpc-green-500"
        >
          check_circle
        </base-icon>

        <div class="font-bold">
          {{ $t('GameRoundBlock.roundHeaderPrefix', {index: roundIndex + 1}) }}
        </div>

        <div
          v-if="!expanded"
          class="flex-1 flex flex-row space-x-1 min-w-0"
        >
          <div>(</div>

          <div
            v-if="roundData.roundTopic"
            class="truncate"
          >
            {{ roundData.roundTopic }}
          </div>

          <div
            v-else
            class="italic text-gpc-grey-400"
          >
            {{ $t('GameRoundBlock.roundTopicNotification') }}
          </div>

          <div>)</div>
        </div>
      </div>
    </template>

    <div class="flex flex-col p-2 space-y-2">
      <div
        v-if="roundData.wasStarted && roundData.wasEnded && !roundTopic"
        class="italic text-gpc-grey-400 border-2 border-solid border-transparent p-2 h-10 box-border cursor-default"
        style="padding-top: 9px; padding-bottom: 7px;"
      >
        {{ $t('GameRoundBlock.roundTopicNotification') }}
      </div>

      <base-editable-label-v2
        v-else
        v-model="roundTopic"
        :placeholder="$t('GameRoundBlock.roundTopicPlaceholder')"
        :disabled="roundData.wasStarted && roundData.wasEnded"
      />

      <game-round-statistics
        v-if="roundData.wasEnded"
        :round-data="roundData"
      />

      <div
        v-else
        class="flex flex-row justify-end items-center"
      >
        <base-text-button
          v-if="roundData.wasStarted"
          key="end-round-button"
          :disabled="!roundData.canBeEnded"
          @click="endRound"
        >
          {{ $t('GameRoundBlock.endRoundButtonLabel') }}
        </base-text-button>

        <base-text-button
          v-else
          key="start-round-button"
          :disabled="!roundData.canBeStarted"
          primary
          @click="startRound"
        >
          {{ $t('GameRoundBlock.startRoundButtonLabel') }}
        </base-text-button>
      </div>
    </div>
  </base-expandable-block>
</template>

<script>
import BaseExpandableBlock from "frontend/src/components/base/BaseExpandableBlock";
import BaseTextButton from "frontend/src/components/base/BaseTextButton";
import {
  dispatch
} from "frontend/src/socket";
import BaseIcon from "frontend/src/components/base/BaseIcon";
import BaseEditableLabelV2 from "frontend/src/components/base/BaseEditableLabelV2";
import GameRoundStatistics from "frontend/src/components/GameRoundStatistics";
import STORE_CONSTANTS from "shared/store-constants";

export default {
  name: "GameRoundBlock",
  components: {
    GameRoundStatistics,
    BaseEditableLabelV2,
    BaseIcon,
    BaseTextButton,
    BaseExpandableBlock
  },
  props: {
    roundData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      expanded: false
    };
  },
  computed: {
    roundIndex() {
      return this.$store.state[STORE_CONSTANTS.STORE_GAME_MODULE_NAME].rounds.findIndex(({roundId}) => roundId === this.roundData.roundId);
    },
    roundTopic: {
      get() {
        return this.roundData.roundTopic;
      },
      set(value) {
        dispatch('changeRoundTopic', {roundId: this.roundData.roundId, roundTopic: value});
      }
    }
  },
  methods: {
    startRound() {
      dispatch('startRound', {roundId: this.roundData.roundId});
    },
    endRound() {
      dispatch('endRound', {roundId: this.roundData.roundId});
    }
  }
}
</script>
