<template>
  <!-- eslint-disable vue/no-v-html -->

  <div
    class="cursor-default h-12 p-2 flex flex-row justify-start items-center hover:bg-gpc-primary-50 space-x-2"
    :title="source.plainMessageText"
  >
    <base-icon class="text-gpc-grey-500">
      {{ source.iconAction }}
    </base-icon>

    <base-icon class="text-gpc-grey-500">
      {{ source.iconContext }}
    </base-icon>

    <div
      class="flex-1 truncate"
      v-html="source.messageText"
    />
  </div>
</template>

<script>
import BaseIcon from "frontend/src/components/base/BaseIcon";

export default {
  name: "GameLogEntry",
  components: {
    BaseIcon
  },
  props: {
    source: {
      type: Object,
      required: true
    }
  }
}
</script>
