<template>
  <virtual-list
    ref="logEntriesListElement"
    class="cursor-default w-96 overflow-x-hidden overflow-y-auto"
    data-key="uuid"
    :data-sources="logEntries"
    :data-component="entryComponent"
    :estimate-size="48"
  />
</template>

<script>
import VirtualList from 'vue-virtual-scroll-list';
import GameLogEntry from "frontend/src/components/GameLogEntry";
import Vue from "vue";

const ICON_ACTION_MAPPING = {
  addPlayer: 'add',
  removePlayer: 'remove',
  renamePlayer: 'edit',
  estimate: 'poll',
  createRound: 'add',
  changeRoundTopic: 'edit',
  startRound: 'timelapse',
  endRound: 'check_circle'
};

const ICON_CONTEXT_MAPPING = {
  addPlayer: 'face',
  removePlayer: 'face',
  renamePlayer: 'face',
  estimate: 'topic',
  createRound: 'topic',
  changeRoundTopic: 'topic',
  startRound: 'topic',
  endRound: 'topic'
};

const MESSAGE_TEXT_MAPPING = {
  addPlayer: ({playerName}) => ['GameLogSidePanel.addPlayer', {playerName}],
  removePlayer: ({playerId, playerName}) => {
    return playerName
      ? ['GameLogSidePanel.removePlayer', {playerName}]
      : ['GameLogSidePanel.removePlayerGuessWho', {playerId}];
  },
  renamePlayer: ({playerNameBefore, playerNameAfter}) => {
    if (playerNameBefore && !playerNameAfter) {
      return ['GameLogSidePanel.renamePlayerWh_aaa', {playerNameBefore}];
    }

    if (!playerNameBefore && playerNameAfter) {
      return ['GameLogSidePanel.renamePlayerEmmWho', {playerNameAfter}];
    }

    return ['GameLogSidePanel.renamePlayer', {playerNameBefore, playerNameAfter}];
  },
  estimate: ({playerId, playerName}) => {
    return playerName
      ? ['GameLogSidePanel.estimate', {playerName}]
      : ['GameLogSidePanel.estimateGuessWho', {playerId}];
  },
  createRound: ({playerId, playerName, roundIndex}) => {
    return playerName
      ? ['GameLogSidePanel.createRound', {playerName, roundIndex}]
      : ['GameLogSidePanel.createRoundGuessWho', {playerId, roundIndex}];
  },
  changeRoundTopic: ({playerId, playerName, roundIndex, roundTopic}) => {
    const suffixes = [
      playerName ? '' : 'GuessWho',
      roundTopic ? '' : 'NoTopic'
    ];
    const params = [
      playerName ? {playerName} : {playerId},
      roundTopic ? {roundTopic} : {}
    ];

    return [
      `GameLogSidePanel.changeRoundTopic${suffixes.join('')}`,
      params.reduce((accumulator, param) => ({...accumulator, ...param}), {roundIndex})
    ];
  },
  startRound: ({playerId, playerName, roundIndex}) => {
    return playerName
      ? ['GameLogSidePanel.startRound', {playerName, roundIndex}]
      : ['GameLogSidePanel.startRoundGuessWho', {playerId, roundIndex}];
  },
  endRound: ({playerId, playerName, roundIndex}) => {
    return playerName
      ? ['GameLogSidePanel.endRound', {playerName, roundIndex}]
      : ['GameLogSidePanel.endRoundGuessWho', {playerId, roundIndex}];
  }
};

const converterElement = document.createElement('span');

export default {
  name: "GameLogSidePanel",
  components: {
    VirtualList
  },
  props: {
    entries: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      entryComponent: GameLogEntry
    };
  },
  computed: {
    logEntries() {
      return this.entries.map(({uuid, action, detail}) => {
        const messageText = this.$t(...MESSAGE_TEXT_MAPPING[action](detail));

        converterElement.innerHTML = messageText;

        return {
          uuid,
          iconAction: ICON_ACTION_MAPPING[action],
          iconContext: ICON_CONTEXT_MAPPING[action],
          messageText,
          plainMessageText: converterElement.textContent
        };
      });
    }
  },
  watch: {
    logEntries: {
      handler() {
        this.scrollToBottom();
      }
    }
  },
  async mounted() {
    await Vue.nextTick();

    this.scrollToBottom();
  },
  methods: {
    scrollToBottom() {
      this.$refs.logEntriesListElement.scrollToBottom();
    }
  }
}
</script>
