<template>
  <div class="relative overflow-hidden">
    <div
      class="absolute top-2/4 left-2/4 transform -translate-x-1/2 -translate-y-1/2"
      :style="{width: `${tableViewBox[0]}px`, height: `${tableViewBox[1]}px`}"
    >
      <div
        class="absolute bg-gpc-grey-200 flex flex-col justify-center items-center"
        :style="{width: `${tableSizes[0]}px`, height: `${tableSizes[1]}px`, margin: `${(tableViewBox[1] - tableSizes[1]) / 2}px ${(tableViewBox[0] - tableSizes[0]) / 2}px`, borderRadius: '120px'}"
      >
        <div
          v-if="activeRoundData"
          class="flex flex-col justify-center items-center space-y-2 max-w-3/4 font-bold cursor-default h-4/5"
        >
          <div class="flex-1 flex flex-row justify-center items-end select-none">
            <div class="flex flex-row justify-center items-center space-x-2">
              <base-icon
                v-if="activeRoundData.object.wasEnded"
                class="text-gpc-green-500"
              >
                check_circle
              </base-icon>

              <base-icon
                v-else
                class="text-gpc-accent-300"
              >
                timelapse
              </base-icon>

              <div>{{ $t('GameTable.roundHeaderPrefix', {index: activeRoundData.index + 1}) }}</div>
            </div>
          </div>

          <div class="flex-1 flex flex-row justify-center items-start w-full overflow-auto">
            <div
              v-if="activeRoundData.object.roundTopic"
              class="truncate hover:whitespace-normal"
            >
              {{ activeRoundData.object.roundTopic }}
            </div>

            <div
              v-else
              class="italic text-gpc-grey-400"
            >
              {{ $t('GameTable.roundTopicNotification') }}
            </div>
          </div>
        </div>
      </div>

      <base-tooltip
        v-for="(place, index) in places"
        :key="index"
        ref="cardFrameTooltip"
        class="absolute"
        placement="top"
        :styling="place.currentPlayer ? 'highlight' : 'normal'"
        :style="place.position"
      >
        <template #label>
          {{ place.playerName }}
        </template>

        <card-frame>
          <base-card
            v-if="place.card"
            class="bg-gpc-primary-500 text-white cursor-default"
          >
            <component
              :is="place.card.tag"
              v-bind="place.card.modifiers"
            >
              {{ place.card.text }}
            </component>
          </base-card>
        </card-frame>
      </base-tooltip>
    </div>

    <svg class="absolute w-0 h-0">
      <defs>
        <pattern
          id="card-back"
          x="0"
          y="0"
          width="10"
          height="10"
          viewBox="0 0 10 10"
          patternUnits="userSpaceOnUse"
        >
          <path
            class="stroke-0 fill-gpc-primary-500"
            d="M0 0 H10 V10 H0 Z"
          />

          <path
            class="stroke-gpc-grey-300 fill-transparent"
            d="M0 10 L10 0 M-1 1 L1 -1 M9 11 L11 9"
          />
        </pattern>
      </defs>
    </svg>
  </div>
</template>

<script>
import CardFrame from "frontend/src/components/CardFrame";
import BaseCard from "frontend/src/components/base/BaseCard";
import BaseIcon from "frontend/src/components/base/BaseIcon";
import CardBack from "frontend/src/components/CardBack";
import TacoCard from "frontend/src/components/TacoCard";
import CoffeeCard from "frontend/src/components/CoffeeCard";
import {
  centers,
  tablePath,
  tableSizes,
  tableViewBox
} from "shared/table-data";
import BaseTooltip from "frontend/src/components/base/BaseTooltip";
import STORE_CONSTANTS from "shared/store-constants";

export default {
  name: "GameTable",
  components: {
    BaseTooltip,
    BaseCard,
    CardFrame,
    BaseIcon,
    CardBack,
    TacoCard,
    CoffeeCard
  },
  data() {
    return {
      centers,
      tablePath,
      tableSizes,
      tableViewBox
    };
  },
  computed: {
    places() {
      return this.$store.state[STORE_CONSTANTS.STORE_GAME_MODULE_NAME].places.filter(({playerId}) => playerId);
    },
    activeRoundData() {
      const activeRound = this.$store.state[STORE_CONSTANTS.STORE_GAME_MODULE_NAME].activeRound;

      if (!activeRound) {
        return null;
      }

      const round = this.$store.state[STORE_CONSTANTS.STORE_GAME_MODULE_NAME].rounds.find(({roundId}) => roundId === activeRound.roundId);
      const roundIndex = this.$store.state[STORE_CONSTANTS.STORE_GAME_MODULE_NAME].rounds.indexOf(round);

      return {
        object: round,
        index: roundIndex
      };
    }
  },
  watch: {
    places: {
      handler() {
        this.$refs.cardFrameTooltip && this.$refs.cardFrameTooltip.forEach((ref) => ref.$emit('update'));
      }
    }
  }
}
</script>
