<template>
  <div class="font-bold">
    <div v-if="statisticsIsAvailable">
      <div
        v-for="(statItem, index) in statisticsData"
        :key="index"
        class="h-6 flex flex-row justify-between space-x-2"
      >
        <div class="max-w-1/10 flex-1 flex flex-row justify-end items-center">
          <div class="truncate">
            {{ statItem.label }}
          </div>
        </div>

        <div class="max-w-8/10 flex-1 flex flex-row">
          <div
            v-for="number in statItem.highlightPartsNumber"
            :key="number"
            class="bg-gpc-primary-500 rounded-sm m-px flex-1"
          />

          <div
            v-for="number in statItem.normalPartsNumber"
            :key="number + statItem.highlightPartsNumber"
            class="bg-gpc-grey-300 rounded-sm m-px flex-1"
          />
        </div>
      </div>
    </div>

    <div
      v-else
      class="italic text-gpc-grey-400 flex flex-row justify-center items-center"
    >
      {{ $t('GameRoundStatistics.statisticsNotAvailableMessage') }}
    </div>
  </div>
</template>

<script>
import {runGetter} from "frontend/src/data/data-provider";

export default {
  name: "GameRoundStatistics",
  props: {
    roundData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      cardsMapSource: []
    }
  },
  computed: {
    statisticsIsAvailable() {
      return Boolean(this.roundData.statistics.length);
    },
    statisticsData() {
      return this.roundData.statistics.map(({cardAlias, votesCount}) => ({
        label: this.cardsMapSource[cardAlias] && this.cardsMapSource[cardAlias].text,
        highlightPartsNumber: votesCount,
        normalPartsNumber: this.roundData.roundPlayersCount - votesCount
      }));
    }
  },
  async mounted() {
    this.cardsMapSource = await runGetter('cardsMap');
  }
}
</script>
