<template>
  <cards-list>
    <base-card
      v-for="{alias: cardAlias, object: cardObject} in cardsDeck"
      :key="cardAlias"
      :class="computedClass"
      @click="playerDeckDisabled || onClick(cardAlias)"
    >
      <component
        :is="cardObject.tag"
        v-bind="cardObject.modifiers"
      >
        {{ cardObject.text }}
      </component>
    </base-card>
  </cards-list>
</template>

<script>
import BaseIcon from "frontend/src/components/base/BaseIcon";
import BaseCard from "frontend/src/components/base/BaseCard";
import CardsList from "frontend/src/components/CardsList";
import TacoCard from "frontend/src/components/TacoCard";
import CoffeeCard from "frontend/src/components/CoffeeCard";
import {
  runGetter
} from "frontend/src/data/data-provider";
import {
  dispatch
} from "frontend/src/socket";
import STORE_CONSTANTS from "shared/store-constants";

export default {
  name: "PlayerDeck",
  components: {
    CardsList,
    BaseIcon,
    BaseCard,
    TacoCard,
    CoffeeCard
  },
  data() {
    return {
      cardsDeck: [],
      cardsMapSource: []
    };
  },
  computed: {
    computedClass() {
      return [
        'm-1',
        this.playerDeckDisabled
          ? 'bg-gpc-grey-300 text-gpc-grey-100 cursor-default'
          : 'bg-gpc-primary-500 text-white cursor-pointer'
      ];
    },
    playerDeckDisabled() {
      return this.$store.state[STORE_CONSTANTS.STORE_GAME_MODULE_NAME].playerDeckDisabled;
    }
  },
  async mounted() {
    const cardsMapSource = await runGetter('cardsMap');

    this.cardsMapSource = cardsMapSource;

    this.cardsDeck = this.$store.state[STORE_CONSTANTS.STORE_GAME_MODULE_NAME].cardsDeck.map((cardAlias) => ({
      alias: cardAlias,
      object: cardsMapSource[cardAlias]
    })).sort(sortByPriority);
  },
  methods: {
    onClick(cardAlias) {
      dispatch('estimate', {cardAlias});
    }
  }
}

function sortByPriority({object: {priority: priorityA}}, {object: {priority: priorityB}}) {
  return priorityA - priorityB;
}
</script>
