<template>
  <div class="cursor-default h-12 p-2 flex flex-row justify-start items-center hover:bg-gpc-primary-50 space-x-2">
    <base-icon class="text-gpc-grey-500">
      face
    </base-icon>

    <div class="flex-1 truncate">
      {{ source.name }}
    </div>
  </div>
</template>

<script>
import BaseIcon from "frontend/src/components/base/BaseIcon";

export default {
  name: "PlayerEntry",
  components: {
    BaseIcon
  },
  props: {
    source: {
      type: Object,
      required: true
    }
  }
}
</script>
