<template>
  <virtual-list
    class="overflow-x-hidden overflow-y-auto"
    data-key="id"
    :data-sources="entries"
    :data-component="entryComponent"
    :estimate-size="48"
  />
</template>

<script>
import VirtualList from 'vue-virtual-scroll-list';
import PlayerEntry from "@/components/PlayerEntry";

export default {
  name: "PlayersView",
  components: {
    VirtualList
  },
  props: {
    entries: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      entryComponent: PlayerEntry
    };
  }
}
</script>
