<template>
  <div class="group relative cursor-pointer">
    <base-card class="bg-gpc-primary-500 text-white">
      <slot />
    </base-card>

    <base-card
      class="absolute inset-0 bg-gpc-red-200 opacity-0 transition-opacity duration-200 text-gpc-grey-500 group-hover:opacity-100"
      @click="onClick"
    >
      <base-icon inherit>
        close
      </base-icon>
    </base-card>
  </div>
</template>

<script>
import BaseCard from "frontend/src/components/base/BaseCard";
import BaseIcon from "frontend/src/components/base/BaseIcon";

export default {
  name: "RemovableCard",
  components: {
    BaseCard,
    BaseIcon
  },
  methods: {
    onClick() {
      this.$emit('click');
    }
  }
}
</script>
