<template>
  <div
    class="w-20 h-33 flex flex-row justify-center items-center rounded-lg box-border select-none"
    @click="onClick"
  >
    <div class="flex text-4xl font-bold">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "BaseCard",
  methods: {
    onClick() {
      this.$emit('click');
    }
  }
}
</script>
