<template>
  <div>
    <div ref="containerElement">
      <slot />
    </div>

    <div
      v-show="showTooltip"
      ref="tooltipElement"
      class="base-tooltip"
      :class="computedContainerClass"
    >
      <div class="truncate">
        <slot name="label" />
      </div>
    
      <div
        class="base-tooltip-arrow"
        :class="computedArrowClass"
        data-popper-arrow
      />
    </div>
  </div>
</template>

<script>
import {
  createPopper
} from '@popperjs/core';

const [
    STYLING_NORMAL,
    STYLING_HIGHLIGHT,
    STYLING_SUCCESS,
    STYLING_FAILURE
] = ['normal', 'highlight', 'success', 'failure'];

export default {
  name: "BaseTooltip",
  props: {
    placement: {
      type: String,
      default: 'bottom'
    },
    styling: {
      type: String,
      default: 'normal'
    },
    showTooltip: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    computedContainerClass() {
      return [
        'font-bold px-2 py-1 text-sm rounded-sm cursor-default h-7 box-border select-none max-w-xs hover:max-w-none',
        {
          'bg-gpc-grey-300 text-gpc-grey-900': this.styling === STYLING_NORMAL,
          'bg-gpc-primary-300 text-white': this.styling === STYLING_HIGHLIGHT,
          'bg-gpc-green-300 text-white': this.styling === STYLING_SUCCESS,
          'bg-gpc-red-300 text-white': this.styling === STYLING_FAILURE
        }
      ];
    },
    computedArrowClass() {
      return [
        'absolute w-2 h-2 invisible bg-inherit',
        'before:absolute before:w-2 before:h-2 before:visible before:content-empty before:rotate-45 before:bg-inherit'
      ];
    }
  },
  watch: {
    showTooltip: {
      immediate: true,
      handler(value) {
        if (value) {
          this.updatePopper();
        }
      }
    }
  },
  mounted() {
    this.$on('update', this.updatePopper);

    this.createPopper();
  },
  methods: {
    updatePopper() {
      this.popperInstance && this.popperInstance.update();
    },
    createPopper() {
      this.popperInstance = createPopper(this.$refs.containerElement, this.$refs.tooltipElement, {
        placement: this.placement,
        modifiers: [
          {
            name: 'offset',
            options: {
              offset: [0, 8]
            }
          }
        ]
      });
    }
  }
}
</script>

<style lang="scss">
.base-tooltip[data-popper-placement^='top'] > .base-tooltip-arrow {
  @apply -bottom-1;
}

.base-tooltip[data-popper-placement^='bottom'] > .base-tooltip-arrow {
  @apply -top-1;
}

.base-tooltip[data-popper-placement^='left'] > .base-tooltip-arrow {
  @apply -right-1;
}

.base-tooltip[data-popper-placement^='right'] > .base-tooltip-arrow {
  @apply -left-1;
}
</style>
