<template>
  <div class="rounded-sm border-2 border-dashed border-gpc-grey-400 flex flex-col">
    <div
      class="h-10 p-2 cursor-pointer box-border hover:bg-gpc-primary-50 flex flex-row space-x-2"
      @click="toggleExpanded"
    >
      <slot name="header" />

      <base-icon
        v-if="localExpanded"
        class="text-gpc-grey-500"
      >
        expand_less
      </base-icon>

      <base-icon
        v-else
        class="text-gpc-grey-500"
      >
        expand_more
      </base-icon>
    </div>

    <div
      v-if="localExpanded"
      class="box-border border-t-2 border-solid border-t-gpc-grey-200"
    >
      <slot />
    </div>
  </div>
</template>

<script>
import BaseIcon from "frontend/src/components/base/BaseIcon";

export default {
  name: "BaseExpandableBlock",
  components: {
    BaseIcon
  },
  props: {
    expanded: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      localExpanded: false
    };
  },
  watch: {
    expanded: {
      immediate: true,
      handler(value) {
        this.localExpanded = value;
      }
    }
  },
  methods: {
    toggleExpanded() {
      this.localExpanded = !this.localExpanded;

      this.$emit('update:expanded', this.localExpanded);
    }
  }
}
</script>
