<template>
  <div
    ref="inputContainer"
    class="relative space-x-2 flex flex-row justify-center items-center"
    :class="computedContainerClass"
    @focusin="onFocusin"
    @focusout="onFocusout"
    @keydown.esc="onCancel"
    @keydown.enter="onSubmit"
  >
    <base-text-field
      ref="inputElement"
      v-model="localValue"
      class="truncate"
      :class="computedInputClass"
      :placeholder="placeholder"
      :disabled="disabled"
    />

    <template v-if="focusWithin">
      <base-icon-button-v2 @click="onCancel">
        close
      </base-icon-button-v2>

      <base-icon-button-v2 @click="onSubmit">
        check
      </base-icon-button-v2>
    </template>
  </div>
</template>

<script>
import BaseTextField from "frontend/src/components/base/BaseTextField";
import BaseIconButtonV2 from "frontend/src/components/base/BaseIconButtonV2";

export default {
  name: "BaseEditableLabelV2",
  components: {
    BaseIconButtonV2,
    BaseTextField
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      localValue: '',
      focusWithin: false,
      submitted: false
    };
  },
  computed: {
    computedContainerClass() {
      return this.focusWithin
          ? 'bg-white'
          : this.disabled
              ? 'cursor-default'
              : 'cursor-pointer hover:bg-gpc-primary-50';
    },
    computedInputClass() {
      return this.focusWithin
          ? 'border-gpc-grey-400'
          : 'bg-transparent border-transparent cursor-inherit';
    }
  },
  watch: {
    value: {
      immediate: true,
      handler(value) {
        this.localValue = value;
      }
    }
  },
  methods: {
    onCancel() {
      this.localValue = this.value;

      this.$refs.inputElement.$el.blur();

      this.focusWithin = false;
    },
    onSubmit() {
      this.submitted = true;

      this.$emit('input', this.localValue);

      this.$refs.inputElement.$el.blur();

      this.focusWithin = false;
    },
    onFocusin() {
      this.focusWithin = true;

      this.submitted = false;
    },
    onFocusout() {
      this.focusWithin = this.$refs.inputContainer.matches(':focus-within');

      if (!this.focusWithin && this.localValue !== this.value && !this.submitted) {
        this.onSubmit();
      }
    }
  }
}
</script>
