<template>
  <div
    :class="className"
    @click="onClick"
  >
    <slot />
  </div>
</template>

<script>
export default {
  name: 'BaseIcon',
  props: {
    outlined: {
      type: Boolean,
      default: false
    },
    inherit: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    className() {
      return [
        'select-none',
        this.outlined ? 'material-icons-outlined' : 'material-icons',
        {
          'text-size-inherit font-weight-inherit': this.inherit
        }
      ];
    }
  },
  methods: {
    onClick() {
      this.$emit('click');
    }
  }
}
</script>
