<template>
  <div
    :class="computedClass"
    :style="{
      zIndex: level
    }"
  >
    <div class="shadow-panel flex-1 flex flex-row">
      <slot />
    </div>
  </div>
</template>

<script>
const [DIRECTION_TOP, DIRECTION_RIGHT, DIRECTION_BOTTOM, DIRECTION_LEFT] = ['top', 'right', 'bottom', 'left'];

export default {
  name: "BaseBoxShadow",
  props: {
    direction: {
      type: String,
      required: true
    },
    level: {
      type: Number,
      required: true
    }
  },
  computed: {
    computedClass() {
      return [
        'overflow-hidden flex flex-row',
        {
          'pr-2 -mr-2': this.direction === DIRECTION_RIGHT,
          'pb-2 -mb-2': this.direction === DIRECTION_BOTTOM,
          'pl-2 -ml-2': this.direction === DIRECTION_LEFT
        }
      ];
    }
  }
}
</script>
