<template>
  <text-button
    :disabled="disabled"
    :type="primary ? 'primary' : 'regular'"
    @click="onClick"
  >
    <slot />
  </text-button>
</template>

<script>
import TextButton from "frontend/src/components/base/TextButton";

export default {
  name: 'BaseTextButton',
  components: {
    TextButton
  },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    primary: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onClick() {
      this.$emit('click');
    }
  }
}
</script>
