<template>
  <base-icon
    ref="baseIconElement"
    class="cursor-pointer p-1 rounded-sm box-border outline-none hover:bg-gpc-primary-50 focus:bg-gpc-primary-50 text-gpc-grey-500"
    tabindex="0"
    :outlined="outlined"
    @click="onSubmit"
    @keydown.enter.space="onSubmit"
  >
    <slot />
  </base-icon>
</template>

<script>
import BaseIcon from "frontend/src/components/base/BaseIcon";

export default {
  name: 'BaseIconButtonV2',
  components: {
    BaseIcon
  },
  props: {
    outlined: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onSubmit() {
      this.$emit('click');

      this.$refs.baseIconElement.$el.blur();
    }
  }
}
</script>
