<template>
  <input
    ref="inputElement"
    class="rounded-sm border-2 border-solid text-gpc-grey-900 p-2 h-10 box-border outline-none font-bold w-full"
    :value="value"
    :placeholder="placeholder"
    :disabled="disabled"
    autocomplete="off"
    @input="onInput"
  >
</template>

<script>
export default {
  name: "BaseTextField",
  props: {
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onInput() {
      this.$emit('input', this.$refs.inputElement.value);
    }
  }
}
</script>
