<template>
  <div class="flex-1 flex flex-col min-h-0">
    <div class="px-1 flex flex-wrap">
      <div
        v-for="(tab, index) in tabs"
        :key="index"
        class="h-12 w-60 rounded-t-sm mx-1 mt-2 flex flex-col"
        :class="isActiveTab(tab) ? 'cursor-default bg-gpc-grey-300' : 'group cursor-pointer hover:bg-gpc-grey-300'"
        @click="setActivateTab(tab)"
      >
        <div class="flex-1 px-2 truncate flex items-center text-gpc-grey-900">
          {{ tab.label }}
        </div>

        <div
          class="h-0.5"
          :class="isActiveTab(tab) ? 'bg-gpc-primary-500' : 'bg-gpc-grey-300 group-hover:bg-gpc-primary-500'"
        />
      </div>
    </div>

    <div class="flex-1 flex flex-row bg-gpc-grey-100 min-h-0 p-2">
      <component
        :is="viewComponent"
        :key="viewKey"
        v-bind="viewProps"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "TabsView",
  props: {
    tabs: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      activeTab: null
    };
  },
  computed: {
    viewKey() {
      return this.activeTab?.uuid;
    },
    viewProps() {
      return this.activeTab?.props?.();
    },
    viewComponent() {
      return this.activeTab?.component;
    }
  },
  mounted() {
    this.setActivateTab(this.tabs[0]);
  },
  methods: {
    setActivateTab(tab) {
      this.activeTab = tab;
    },
    isActiveTab(tab) {
      return this.activeTab === tab;
    }
  }
}
</script>
