<template>
  <button
    :key="refKey"
    :class="compiledClasses"
    :disabled="disabled"
    :tabindex="tabindex"
    type="button"
    @click="onSubmit"
    @keydown.enter.space="onSubmit"
  >
    <span class="truncate">
      <slot />
    </span>
  </button>
</template>

<script>

import sleep from "shared/sleep";

const [TYPE_PRIMARY, TYPE_OUTLINED, TYPE_REGULAR] = [
  "primary",
  "outlined",
  "regular"
];

const TEXT_COLOR_CLASSES = {
  [TYPE_PRIMARY]: "text-white disabled:text-gpc-grey-400",
  [TYPE_OUTLINED]: "text-gpc-primary-500 disabled:text-gpc-grey-400",
  [TYPE_REGULAR]: "text-gpc-primary-500 disabled:text-gpc-grey-400"
};

const BACKGROUND_COLOR_CLASSES = {
  [TYPE_PRIMARY]:
    "bg-gpc-primary-500 hover:bg-gpc-primary-400 focus:bg-gpc-primary-300 active:bg-gpc-primary-200 disabled:bg-gpc-grey-200",
  [TYPE_OUTLINED]:
    "bg-white hover:bg-gpc-primary-50 focus:bg-gpc-primary-100 active:bg-gpc-primary-200 disabled:bg-white",
  [TYPE_REGULAR]:
    "bg-white hover:bg-gpc-primary-50 focus:bg-gpc-primary-100 active:bg-gpc-primary-200 disabled:bg-white"
};

const BORDER_WIDTH_CLASSES = {
  [TYPE_PRIMARY]: "",
  [TYPE_OUTLINED]: "border",
  [TYPE_REGULAR]: ""
};

const BORDER_COLOR_CLASSES = {
  [TYPE_PRIMARY]: "",
  [TYPE_OUTLINED]: "border-gpc-primary-500 disabled:border-gpc-grey-300",
  [TYPE_REGULAR]: ""
};

const BOX_SHADOW_CLASSES = {
  [TYPE_PRIMARY]: "shadow-button disabled:shadow-none",
  [TYPE_OUTLINED]: "",
  [TYPE_REGULAR]: ""
};

export default {
  name: "TextButton",
  props: {
    type: {
      type: String,
      default: TYPE_REGULAR,
      validator(value) {
        return [TYPE_PRIMARY, TYPE_OUTLINED, TYPE_REGULAR].includes(value);
      }
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      refKey: true
    };
  },
  computed: {
    tabindex() {
      return this.disabled ? null : 0;
    },
    compiledClasses() {
      return [
        'rounded uppercase flex flex-row justify-center items-center cursor-pointer disabled:cursor-default outline-none text-lg font-semibold h-10 px-4 py-2',
        TEXT_COLOR_CLASSES[this.type],
        BACKGROUND_COLOR_CLASSES[this.type],
        BORDER_WIDTH_CLASSES[this.type],
        BORDER_COLOR_CLASSES[this.type],
        BOX_SHADOW_CLASSES[this.type]
      ];
    }
  },
  methods: {
    onSubmit() {
      if (this.disabled) {
        return;
      }

      this.twitchRefKey();

      this.$emit('click');
    },
    switchRefKey() {
      this.refKey = !this.refKey;
    },
    twitchRefKey() {
      this.switchRefKey();

      sleep().then(this.switchRefKey.bind(this));
    }
  }
};
</script>
