<template>
    <div class="base-smart-text-field"
       ref="inputContainer"
       @focusin="onFocusin"
       @focusout="onFocusout"
       @keydown.esc="onCancel"
       @keydown.enter="onSubmit"
       :disabled="disabled">
        <base-text-field class="ellipsis base-smart-text-field__input"
           v-model="localValue"
           :placeholder="placeholder"
           :disabled="disabled"
           ref="inputElement"></base-text-field>

        <div class="layout-row space-between--horizontal-8px base-smart-text-field__actions"
           v-if="focusWithin">
            <base-icon-button-v2 @click="onCancel">close</base-icon-button-v2>
            <base-icon-button-v2 @click="onSubmit">check</base-icon-button-v2>
        </div>
    </div>
</template>

<script>
import BaseTextField from "@/components/base/BaseTextField";
import BaseIconButtonV2 from "@/components/base/BaseIconButtonV2";

export default {
  name: "BaseEditableLabel",
  props: {
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      localValue: '',
      focusWithin: false
    };
  },
  components: {
    BaseIconButtonV2,
    BaseTextField
  },
  watch: {
    value: {
      immediate: true,
      handler(value) {
        this.localValue = value;
      }
    }
  },
  methods: {
    onCancel() {
      this.localValue = this.value;

      this.$refs.inputElement.$el.blur();

      this.focusWithin = false;
    },
    onSubmit() {
      this.$emit('input', this.localValue);

      this.$refs.inputElement.$el.blur();

      this.focusWithin = false;
    },
    onFocusin() {
      this.focusWithin = true;
    },
    onFocusout() {
      this.focusWithin = this.$refs.inputContainer.matches(':focus-within');

      if (!this.focusWithin && this.localValue !== this.value) {
        this.onSubmit();
      }
    }
  }
}
</script>

<style lang="scss">
@import "../scss/colors";

.base-smart-text-field {
  position: relative;

  &:focus-within {
    background: $pure_white;
  }

  &:not(:focus-within) {
    &[disabled] {
      cursor: default;
    }

    &:not([disabled]) {
      cursor: pointer;

      &:hover {
        background: $primary_50;
      }
    }

    .base-smart-text-field__input {
      background: transparent;
      border-color: transparent;
      cursor: inherit;
    }
  }
}

.base-smart-text-field__actions {
  position: absolute;
  right: 0;
  top: 100%;
  padding: 8px;
  background: inherit;
  margin-top: -2px;
  border: 2px solid $grey_400;
  border-top: none;
}
</style>
