<template>
  <label :class="className">
    <input
      ref="nativeElement"
      type="checkbox"
      :name="name"
      :checked="value"
      :disabled="disabled"
      @change="onChange"
    >

    <slot />
  </label>
</template>

<script>
export default {
  name: "BaseCheckboxV2",
  props: {
    name: {
      type: String,
      default: null
    },
    value: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    className: function () {
      return [
        'base-checkbox-v2',
        {
          'base-checkbox-v2--disabled': this.disabled
        }
      ];
    }
  },
  methods: {
    onChange() {
      this.$emit('input', this.$refs.nativeElement.checked);
    }
  }
}
</script>

<style lang="scss">
@import "../frontend/scss/colors";

.base-checkbox-v2 {
  height: 32px;
  padding: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  user-select: none;

  input[type="checkbox"] {
    appearance: none;
    position: relative;
    border: 2px solid $grey_600;
    background: transparent;
    outline: none;
    border-radius: 2px;
    margin: 2px 8px 2px 2px;
    width: 20px;
    height: 20px;

    &:checked {
      border-color: $primary_500P;
      background: $primary_500P;
    }

    &:focus {
      border-color: $primary_500P;
    }

    &:checked::before {
      transform: rotate(45deg);
      position: absolute;
      left: 6px;
      width: 3px;
      height: 11px;
      content: "";
      border: 2px solid $pure_white;
      border-top: 0;
      border-left: 0;
    }

    &[disabled] {
      border-color: $grey_400;
    }

    &[disabled]:checked {
      background: $grey_400;
    }

    &:not([disabled]) {
      cursor: pointer;
    }
  }

  &#{&}--disabled {
    color: $grey_400;
  }

  &:not(#{&}--disabled) {
    cursor: pointer;
  }
}
</style>