<template>
    <div class="base-dialog-backdrop">
        <div class="base-dialog-container">
            <div class="base-dialog-header"
               v-if="$slots.header">
                <slot name="header"></slot>

                <base-icon-button-v2 @click="closeDialog">close</base-icon-button-v2>
            </div>

            <div class="base-dialog-body"
               tabindex="-1"
               ref="bodyElement">
                <slot></slot>
            </div>

            <div class="base-dialog-actions">
                <slot name="actions"></slot>
            </div>
        </div>
    </div>
</template>

<script>
import BaseIconButtonV2 from "../components/base/BaseIconButtonV2";

export default {
  name: "BaseDialog",
  components: {
    BaseIconButtonV2
  },
  mounted() {
    this.$refs.bodyElement.focus();

    this.$emit('opened');
  },
  methods: {
    closeDialog() {
      this.$emit('closed');
    }
  }
}
</script>

<style lang="scss">
@import "../scss/colors";

.base-dialog-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  z-index: 1;
}

.base-dialog-container {
  max-width: 80%;
  max-height: 80%;
  min-height: 300px;
  min-width: 480px;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.base-dialog-header {
  padding: 8px;
  display: flex;
  height: 48px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.base-dialog-body {
  padding: 8px;
  flex: 1;
  outline: none;
}

.base-dialog-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;

  > :not(:last-child) {
    margin-right: 8px;
  }
}
</style>
