<template>
    <base-card class="placeholder-card">
        <base-icon inherit>add</base-icon>
    </base-card>
</template>

<script>
import BaseCard from "@/components/base/BaseCard";
import BaseIcon from "../components/base/BaseIcon";

export default {
  name: "PlaceholderCard",
  components: {
    BaseCard,
    BaseIcon
  }
}
</script>

<style lang="scss" scoped>
@import "../scss/colors";

.placeholder-card {
  background: $pure_white;
  color: $grey_500;
  border: 2px dashed $grey_400;

  &:hover {
    background: $primary_50;
  }
}
</style>
