<template>
    <span>
        <span class="player-name-block layout-row layout-align-center-center">
            <label class="ellipsis">{{ playerName }}</label>

            <base-icon-button-v2 @click="dialogActivated = true">edit</base-icon-button-v2>
        </span>

        <player-name-dialog :activated.sync="dialogActivated"></player-name-dialog>
    </span>
</template>

<script>
import BaseIconButtonV2 from "@/components/base/BaseIconButtonV2";
import PlayerNameDialog from "@/unused-components/PlayerNameDialog";

export default {
  name: "PlayerNameBlock",
  components: {
    BaseIconButtonV2,
    PlayerNameDialog
  },
  data() {
    return {
      dialogActivated: false
    };
  },
  computed: {
    playerName() {
      return this.$store.state.playerName;
    }
  }/*,
  created() {
    this.unwatchPlayerName = this.$watch('playerName', (playerName) => {
      if (playerName) {
        this.dialogActivated = true;

        this.unwatchPlayerName();
      }
    });
  }*/
}
</script>

<style lang="scss" scoped>
.player-name-block {
  padding: 8px;

  > :not(:last-child) {
    margin-right: 8px;
  }
}
</style>
