<template>
    <base-dialog v-if="activated"
       @opened="onOpened"
       @closed="onClosed">
        <base-text-field v-model.trim="localPlayerName"></base-text-field>

        <template #actions>
            <base-text-button @click="onCancel">{{ $t('Cancel') }}</base-text-button>

            <base-text-button primary
               @click="onApply">{{ $t('Apply') }}</base-text-button>
        </template>
    </base-dialog>
</template>

<script>
import BaseDialog from "./BaseDialog";
import BaseTextButton from "../components/base/BaseTextButton";
import BaseTextField from "../components/base/BaseTextField";
import {
  dispatch
} from "@/socket";

export default {
  name: "PlayerNameDialog",
  components: {
    BaseTextField,
    BaseTextButton,
    BaseDialog
  },
  props: {
    activated: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      localPlayerName: null
    };
  },
  computed: {
    playerName() {
      return this.$store.state.playerName;
    }
  },
  methods: {
    onCancel() {
      this.closeDialog();
    },
    onApply() {
      if (this.localPlayerName !== this.playerName) {
        dispatch('renamePlayer', {playerName: this.localPlayerName});
      }

      this.closeDialog();
    },
    closeDialog() {
      this.$emit('update:activated', false);
    },
    onOpened() {
      this.localPlayerName = this.playerName;
    },
    onClosed() {
      this.closeDialog();
    }
  }
}
</script>

<style lang="scss" scoped></style>
