<template>
    <div class="welcome-screen">
        <h1>{{ $t('WelcomeScreen') }}</h1>

        <base-text-field class="game-identifier-text-field"
           v-model="gameIdentifier"></base-text-field>

        <base-text-button :disabled="!gameIdentifierIsValid"
           @click="openPlayerScreen">{{ $t('DEMO_JOIN_GAME_BUTTON') }}</base-text-button>

        <h3>{{ $t('OR') }}</h3>

        <base-text-button @click="openSetupGameScreen">{{ $t('DEMO_CREATE_GAME_BUTTON') }}</base-text-button>
    </div>
</template>

<script>
import BaseTextField from "../components/base/BaseTextField";
import BaseTextButton from "../components/base/BaseTextButton";
import {
  PLAY_ROUTE_PATH,
  SETUP_ROUTE_PATH
} from '@/router';
import {
  version as uuidVersion,
  validate as uuidValidate
} from 'uuid';

export default {
  name: 'WelcomeScreen',
  components: {
    BaseTextField,
    BaseTextButton
  },
  data() {
    return {
      gameIdentifier: ''
    };
  },
  computed: {
    gameIdentifierIsValid: function () {
      return uuidValidate(this.gameIdentifier) && uuidVersion(this.gameIdentifier) === 4;
    }
  },
  methods: {
    openPlayerScreen() {
      this.$router.push({path: PLAY_ROUTE_PATH, query: {
          uuid: this.gameIdentifier
        }});
    },
    openSetupGameScreen() {
      this.$router.push(SETUP_ROUTE_PATH);
    }
  }
}
</script>

<style lang="scss" scoped>
.welcome-screen {
  > :not(:first-child) {
    margin-top: 16px;
  }
}

.game-identifier-text-field {
  width: 400px;
}
</style>
