<template>
  <router-view />
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
@tailwind base;

@tailwind components;

@tailwind utilities;

@import "scss/scrollbar";

html {
  @apply h-full;
}

body {
  @apply h-full;
  @apply m-0;
  @apply text-gpc-grey-900;

  font-family: "Roboto", serif;
}

input {
  font-family: "Roboto", serif;
}

input::placeholder {
  @apply text-gpc-grey-400;
  @apply italic;
}
</style>
