<template>
  <div class="flex-1 flex flex-col h-full">
    <div class="h-10 mt-2 mx-2">
      <base-text-button
        primary
        @click="onHomeClick"
      >
        go home
      </base-text-button>
    </div>

    <tabs-view :tabs="tabs" />
  </div>
</template>

<script>
import {
  v4 as uuidv4
} from 'uuid';
import TabsView from "frontend/src/components/base/TabsView";
import NAVIGATION_PATHS from 'shared/navigation-paths';
import BaseTextButton from "@/components/base/BaseTextButton";
import GamesView from "@/views/GamesView";

export default {
  name: 'AdminScreen',
  components: {
    BaseTextButton,
    TabsView
  },
  data() {
    return {
      tabs: [{
        uuid: uuidv4(),
        label: this.$t('AdminScreen.activeGamesTabLabel'),
        component: GamesView
      }]
    };
  },
  methods: {
    onHomeClick() {
      this.$router.push(NAVIGATION_PATHS.ROOT_ROUTE_PATH);
    }
  }
}
</script>
