<template>
  <div class="text-gpc-red-500">
    {{ message }}
  </div>
</template>

<script>
export default {
  name: "ErrorScreen",
  props: {
    message: {
      type: String,
      required: true
    }
  }
}
</script>
