<template>
  <div class="flex flex-1 flex-row">
    <base-box-shadow
      direction="right"
      :level="1"
    >
      <virtual-list
        class="overflow-x-hidden overflow-y-auto"
        data-key="gameId"
        :data-sources="gameEntries"
        :data-component="gameEntryComponent"
        :estimate-size="48"
      />
    </base-box-shadow>

    <base-box-shadow
      v-if="selectedGame"
      direction="right"
      :level="0"
    >
      <div class="flex flex-col w-12 p-2 space-y-2">
        <base-icon-button-v2 @click="onInterruptClick">
          close
        </base-icon-button-v2>

        <base-icon-button-v2 @click="onContentCopyClick">
          content_copy
        </base-icon-button-v2>

        <base-icon-button-v2 @click="onLinkCopyClick">
          link
        </base-icon-button-v2>

        <base-icon-button-v2 @click="onOpenInNewClick">
          open_in_new
        </base-icon-button-v2>
      </div>
    </base-box-shadow>

    <div class="flex-1 flex flex-col overflow-auto">
      <tabs-view
        v-if="selectedGame"
        :key="gameId"
        :tabs="tabs"
      />
    </div>
  </div>
</template>

<script>
import {
  v4 as uuidv4
} from 'uuid';
import VirtualList from "vue-virtual-scroll-list";
import GameEntry from "frontend/src/components/GameEntry";
import BaseBoxShadow from "frontend/src/components/base/BaseBoxShadow";
import STORE_CONSTANTS from "shared/store-constants";
import TabsView from "@/components/base/TabsView";
import GameLogSidePanel from "@/components/GameLogSidePanel";
import PlayersView from "@/components/PlayersView";
import BaseIconButtonV2 from "@/components/base/BaseIconButtonV2";
import NAVIGATION_PATHS from "shared/navigation-paths";
import {runAction} from "@/data/data-provider";
import COMMON_EVENTS from "shared/common-events";

export default {
  name: "GamesView",
  components: {
    BaseIconButtonV2,
    TabsView,
    VirtualList,
    BaseBoxShadow
  },
  data() {
    const vm = this;

    return {
      gameEntryComponent: GameEntry,
      tabs: [{
        uuid: uuidv4(),
        label: this.$t('AdminScreen.gameLogTabLabel'),
        component: GameLogSidePanel,
        props() {
          return {
            entries: vm.selectedGame?.gameData.log
          };
        }
      }, {
        uuid: uuidv4(),
        label: this.$t('AdminScreen.gamePlayersTabLabel'),
        component: PlayersView,
        props() {
          return {
            entries: vm.selectedGame?.gameData.players
          };
        }
      }]
    };
  },
  computed: {
    selectedGame() {
      return this.gameEntries.find(({gameId}) => gameId === this.$store.state[STORE_CONSTANTS.STORE_ADMINISTRATION_MODULE_NAME].selectedGameId);
    },
    gameEntries() {
      return this.$store.state[STORE_CONSTANTS.STORE_ADMINISTRATION_MODULE_NAME].gamesList;
    },
    gameId() {
      return this.selectedGame?.gameId;
    },
    gameUrl() {
      return `${location.protocol}//${location.host}${NAVIGATION_PATHS.START_ROUTE_PATH}?uuid=${this.gameId}`;
    }
  },
  methods: {
    onInterruptClick() {
      runAction(COMMON_EVENTS.INTERRUPT_GAME, {roomId: this.gameId});
    },
    onContentCopyClick() {
      navigator.clipboard.writeText(this.gameId);
    },
    onLinkCopyClick() {
      navigator.clipboard.writeText(this.gameUrl);
    },
    onOpenInNewClick() {
      const anchor = document.createElement('a');

      anchor.setAttribute('href', this.gameUrl);
      anchor.setAttribute('target', '_blank');

      anchor.click();
    }
  }
}
</script>
