<template>
  <div class="h-full flex flex-col">
    <base-box-shadow
      direction="bottom"
      :level="2"
    >
      <div class="justify-between items-center flex-1 flex flex-row">
        <game-identifier-block :identifier="uuid" />

        <base-editable-label-v2
          v-model="playerName"
          class="w-1/4"
          :placeholder="$t('PlayerScreen.playerNamePlaceholder')"
        />

        <base-icon-button-v2
          class="m-2"
          @click="toggleGameLogPanel"
        >
          list
        </base-icon-button-v2>
      </div>
    </base-box-shadow>

    <div class="flex-1 flex flex-row min-h-0 --space-x-1">
      <div class="flex-1 flex flex-col">
        <game-table class="flex-1" />

        <player-deck />
      </div>

      <base-box-shadow
        direction="left"
        :level="0"
      >
        <game-rounds-panel />
      </base-box-shadow>

      <base-box-shadow
        v-if="gameLogOpened"
        direction="left"
        :level="1"
      >
        <game-log-side-panel :entries="gameLog" />
      </base-box-shadow>
    </div>
  </div>
</template>

<script>
import GameIdentifierBlock from "frontend/src/components/GameIdentifierBlock";
import PlayerDeck from "frontend/src/components/PlayerDeck";
import GameTable from "frontend/src/components/GameTable";
import GameLogSidePanel from "frontend/src/components/GameLogSidePanel";
import BaseIconButtonV2 from "frontend/src/components/base/BaseIconButtonV2";
import BaseBoxShadow from "frontend/src/components/base/BaseBoxShadow";
import GameRoundsPanel from "frontend/src/components/GameRoundsPanel";
import {
  dispatch
} from "frontend/src/socket";
import BaseEditableLabelV2 from "frontend/src/components/base/BaseEditableLabelV2";
import STORE_CONSTANTS from "shared/store-constants";

export default {
  name: 'PlayerScreen',
  components: {
    BaseEditableLabelV2,
    BaseBoxShadow,
    BaseIconButtonV2,
    GameLogSidePanel,
    GameTable,
    PlayerDeck,
    GameIdentifierBlock,
    GameRoundsPanel
  },
  props: {
    uuid: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      gameLogOpened: false
    };
  },
  computed: {
    gameLog() {
      return this.$store.state[STORE_CONSTANTS.STORE_GAME_MODULE_NAME].log;
    },
    playerName: {
      get() {
        return this.$store.state[STORE_CONSTANTS.STORE_GAME_MODULE_NAME].playerName;
      },
      set(value) {
        if (this.playerName.trim() !== value.trim()) {
          dispatch('renamePlayer', {playerName: value.trim()});
        }
      }
    }
  },
  methods: {
    toggleGameLogPanel() {
      this.gameLogOpened = !this.gameLogOpened;
    }
  }
}
</script>
