<template>
  <div class="flex h-full justify-center items-center">
    <div class="w-1/2 space-y-4">
      <base-text-button
        class="w-full"
        :disabled="canNotStartGame"
        primary
        @click="createSession"
      >
        {{ $t('SetupGameScreen.startGameButtonLabel') }}
      </base-text-button>

      <cards-deck-setup @change="onCardsSelectionChange" />
    </div>
  </div>
</template>

<script>
import BaseTextButton from "frontend/src/components/base/BaseTextButton";
import CardsDeckSetup from "frontend/src/components/CardsDeckSetup";
import {
  runAction
} from "@/data/data-provider";
import NAVIGATION_PATHS from 'shared/navigation-paths';

export default {
  name: 'SetupGameScreen',
  components: {
    CardsDeckSetup,
    BaseTextButton
  },
  data() {
    return {
      selectedCards: []
    };
  },
  computed: {
    canNotStartGame() {
      return this.selectedCards.length === 0;
    }
  },
  methods: {
    async createSession() {
      const {sessionId} = await runAction('createSessionHandler', {
        selectedCards: this.selectedCards
      });

      this.$router.push({path: NAVIGATION_PATHS.PLAY_ROUTE_PATH, query: {
        uuid: sessionId
      }});
    },
    onCardsSelectionChange(selectedCards) {
      this.selectedCards = selectedCards;
    }
  }
}
</script>
