<template>
  <div class="flex h-full justify-center items-center">
    <div class="w-1/2 space-y-4">
      <base-tooltip
        placement="right"
        :show-tooltip="showNotValidMessage || showNotFoundMessage || showPendingMessage || showIsActualMessage"
        :styling="showNotValidMessage || showNotFoundMessage ? 'failure' : showIsActualMessage ? 'success' : 'normal'"
      >
        <template #label>
          <label v-if="showNotValidMessage">{{ $t('StartGameScreen.gameIdIsNotValidMessage') }}</label>

          <label v-else-if="showNotFoundMessage">{{ $t('StartGameScreen.gameNotFoundMessage') }}</label>

          <label v-else-if="showPendingMessage">{{ $t('StartGameScreen.gameStatusPendingMessage') }}</label>

          <label v-else-if="showIsActualMessage">{{ $t('StartGameScreen.gameIsActualMessage') }}</label>
        </template>

        <base-text-field
          v-model="requestedSessionId"
          class="border-gpc-grey-400"
          :placeholder="$t('StartGameScreen.gameIdPlaceholder')"
          @input="sessionIdIsTouched = true"
        />
      </base-tooltip>

      <base-text-button
        class="w-full"
        :disabled="!canJoinAsPlayer"
        primary
        @click="joinSessionAsPlayer"
      >
        {{ $t('StartGameScreen.joinGameButtonLabel') }}
      </base-text-button>

      <div class="my-2 mx-0 h-0 border-t border-solid border-t-gpc-grey-900 flex flex-row justify-center items-center">
        <div class="py-0 px-4 bg-white">
          {{ $t('StartGameScreen.separatorLabel') }}
        </div>
      </div>

      <base-text-button
        class="w-full"
        primary
        @click="openSetupGameScreen"
      >
        {{ $t('StartGameScreen.createGameButtonLabel') }}
      </base-text-button>
    </div>
  </div>
</template>

<script>
import BaseTextField from "frontend/src/components/base/BaseTextField";
import BaseTextButton from "frontend/src/components/base/BaseTextButton";
import NAVIGATION_PATHS from 'shared/navigation-paths';
import {
  version as uuidVersion,
  validate as uuidValidate
} from 'uuid';
import {
  runGetter
} from "frontend/src/data/data-provider";
import BaseTooltip from "frontend/src/components/base/BaseTooltip";

export default {
  name: 'StartGameScreen',
  components: {
    BaseTooltip,
    BaseTextField,
    BaseTextButton
  },
  props: {
    uuid: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      requestedSessionId: '',
      sessionStatus: null,
      sessionIdIsTouched: false
    };
  },
  computed: {
    sessionIdIsValid() {
      return this.requestedSessionId !== '' && uuidValidate(this.requestedSessionId) && uuidVersion(this.requestedSessionId) === 4;
    },
    pendingSessionStatus() {
      return this.sessionIdIsValid && this.sessionStatus === null;
    },
    sessionNotFound() {
      return this.sessionIdIsValid && this.sessionStatus && !this.sessionStatus.isKnown;
    },
    sessionIsActual() {
      return this.sessionIdIsValid && this.sessionStatus && this.sessionStatus.isKnown && !this.sessionStatus.isArchived;
    },
    canJoinAsPlayer() {
      return this.sessionIsActual && this.sessionStatus.canJoinAsPlayer;
    },
    showNotValidMessage() {
      return (!this.requestedSessionId && this.sessionIdIsTouched) || (this.requestedSessionId && !this.sessionIdIsValid);
    },
    showPendingMessage() {
      return this.pendingSessionStatus;
    },
    showNotFoundMessage() {
      return this.sessionNotFound;
    },
    showIsActualMessage() {
      return this.sessionIsActual;
    }
  },
  watch: {
    uuid: {
      immediate: true,
      handler() {
        this.requestedSessionId = this.uuid;
      }
    },
    sessionIdIsValid: {
      immediate: true,
      async handler(sessionIdIsValid) {
        if (!sessionIdIsValid) {
          return;
        }

        this.sessionStatus = null;

        this.sessionStatus = await runGetter('sessionStatus', {uuid: this.requestedSessionId});
      }
    }
  },
  methods: {
    openSetupGameScreen() {
      this.$router.push(NAVIGATION_PATHS.SETUP_ROUTE_PATH);
    },
    joinSessionAsPlayer() {
      this.$router.push({path: NAVIGATION_PATHS.PLAY_ROUTE_PATH, query: {
        uuid: this.requestedSessionId
      }});
    }
  }
}
</script>
